{
    "extends": "reactjs",
    "rules": {
        "new-cap": [2, {
            "newIsCap": false, // for constructors selected dynamically
            "capIsNewExceptions": [
                "Crypto.PBKDF2",
                "Crypto.SHA256",
                "Crypto.HMAC",
                "Immutable.List",
                "Immutable.Map",
                "Immutable.Set",
                "DragSource",
                "DragDropContext",
                "DropTarget",
                "URI"
            ]
        }],
        "react/jsx-uses-react": 1,
        "quotes": [2, "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "object-curly-spacing": [ 2, "always" ],
        "array-bracket-spacing": [ 0, "always" ],
        "react/jsx-curly-spacing": [ 0, "always" ], // there is no current consensus on this
        "max-len": [ 0, 120, 4 ], // TODO: There are too many lines that break this rule right now.
        "camelcase": 2,
        "init-declarations": 0,
        "wrap-iife": 0,
        "react/prop-types": 0, // TODO: Set this to 1 and make sure prop-types are cleaned up.
        "react/jsx-no-literals": 0,
        "react/jsx-space-before-closing": 2,
        "no-shadow": 0, // TODO: Shadowing should be discouraged, but there are too many to fix right now.
        "react/jsx-no-bind": 0, // This is identified as a performance issue, but this is used sometimes to acceptable effect.
        "indent": 0, // TODO: Should be 4-spaces but this is a big job.
        "react/jsx-indent": 0,
        "react/prefer-es6-class": 0,
        "func-names": 0, // unnamed functions are fine.
        "space-before-function-paren": 0, // TODO: Set to 2 and fix the issues.
        "react/jsx-indent-props": 0, // TODO: Set to 2 and fix the issues.
        "react/jsx-closing-bracket-location": 0,
        "no-var": 0,
        "vars-on-top": 0,
        "strict": 0, // Ignoring this, as ECMAScript is strict (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode/Transitioning_to_strict_mode#Differences_from_non-strict_to_strict)
        "react/no-string-refs": 0, // TODO: string refs is deprecated, but is being used (requires possible change in logic). Should be 2 eventually
        "quote-props": [ 2, "as-needed", { "keywords": true }],
        "prefer-reflect": 0,
        "no-param-reassign": 0, // Probably, but too many to fix right now.
        "spaced-comment": 0,
        "react/sort-comp": 0,
        "no-else-return": 0,
        "react/no-is-mounted": 0, // TODO: https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html
        "consistent-return": 0,
        "react/jsx-boolean-value": 0,
        "radix": 2,
        "comma-spacing": 0,
        "no-use-before-define": 0,
        "no-alert": 1, // TODO: Put an exception in for admin/
        "dot-notation": [ 2, { "allowKeywords": true }],
        "prefer-spread": 0,
        "react/no-multi-comp": 0,
        "react/jsx-key": 0, // Should be 2, but discovering keys is not easy in certain scenarios,
        "no-nested-ternary": 0,
        "no-console": 2,
        "default-case": 0, // Should be 2 when we migrate from flux to redux
        "no-unused-vars": [2, { args: "none" } ],
        "block-scoped-var": 0, // TODO: maybe
        "no-empty": [2, { "allowEmptyCatch": true } ]
    },
    "parserOptions": {
        "ecmaFeatures": {
            "classes": true
        }
    },
    "globals": {
        "define": false,
        "require": false,
        "describe": false,
        "it": false,
        "expect": false,
        "beforeEach": false,
        "spyOn": false,
        "afterEach": false,
        "jasmine": false,
        "runs": false,
        "waitsFor": false
    }
}
